@import "tailwindcss";

@theme{
  --color-light: #ECECEC;
  --color-dark:  #08070E;
  --color-primary: #2482E0;
  --font-primary: "Poppins", sans-serif;
}


@custom-variant dark (&:where(.dark, .dark *));